.hero {
    width: 100%;
    height: auto;
    background: url('../assets/header.png');
    margin: 0;
    padding-top: 20px;
    padding-bottom: 100px;
}

.hero h5 {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    font-weight: 400;
    color: #ffff;
    text-align: left;
    line-height: 2rem;
}

.hero h1 {
    font-family: Changa;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 40px;
text-align: left;
letter-spacing: 0px;
text-transform: capitalize;

color: #003751;

}

.hero p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 30px;
    padding-right: 120px;
    font-weight: 400;
    color: #ffff;
    text-align: left;
    margin: 10px 0px;
}

.cta {
    width: 464px;
    height: 85px;
    background: #B69D14;
    font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 59px;
text-align: center;
border: none;
color: #FFFFFF;

}

.flex {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 200px;
}

.flex1 {
    width: 301px;
    height: 391px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 1;
}

.flex2 {
    margin-top: 90px;
    flex-grow: 1;
}




@media (min-width: 768px) and (max-width: 1024px) {
        .hero {
            background-size: contain;
            background-position: center;
        }

        .flex {
            gap: 50px;
        }

        .flex1 {
            border: none;
        }
        .flex1 img {
            width: 300px;
            height: 300px;
            flex-shrink: 1;
            margin-top: 30px;
            border: none;
        }
}


@media (min-width: 320px) and (max-width: 480px) {

    .hero {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .flex {
        margin-top: 0px;
        gap: 0px;
        flex-direction: column;
        justify-content: center;
    }

    .flex1 {
        border: none;
        width: auto;
        height: auto;
    }

    .flex1 img {
        display: none;
    }

    .flex2 {
        margin-top: 10px;
    }

    .hero h5 {
    font-family: Press Start 2P;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 23px;
    /* or 230% */
    width: 300px;
    text-align: center;
    margin: 0px 20px;
    
    color: #FFFFFF;
}

.hero h1 {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 47px;
text-transform: capitalize;
text-align: center;
color: #FFFFFF;

}

.hero p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffff;
    text-align: left;
    margin: 0px 0px 0px 50px;
    padding-right: 50px;
    text-align: center;
}

.cta {
    width: 157px;
    height: 56px;
    margin-left: -220px;
    z-index: 999;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
    
}