.info {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px;
    justify-content: space-between;
    margin-top: 150px;
}


.grid {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 20px;
    justify-items: center;
    place-content: center;
}

.item {
    width: 336px;
height: 376px;
background: #003751;
border-radius: 40px;
background-position: center;
padding: 0px 10px;
}

.heading {
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 22px;
/* identical to box height, or 92% */
text-transform: capitalize;
text-align: center;
margin: 50px 0px;
color: #FFFFFF;
}

.body {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 2rem;
/* or 153% */
margin: 10px 10px;
text-align: justify;

color: #FFFFFF;
}

.mint   {
    width: 100%;
    height: auto;
    background: #FFC160;
    padding-bottom: 40px;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    margin-top: 120px;
    justify-content: center;
}

.head {
    font-family: Changa;
font-style: normal;
font-weight: bold;
font-size: 52px;
letter-spacing: 0px;
text-transform: capitalize;

color: #003751;

}

.bod {
    font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 12px;
/* or 179% */

text-transform: capitalize;

color: #FFFFFF;
}

.block {
width: 478px;
height: 582px;
margin-top: 60px;
background: #FFFFFF
}

.single {
    font-family: Changa;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 88px;
text-transform: capitalize;

color: #003751;

}

.one {
    font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 24px;
/* identical to box height, or 179% */


color: #003751;

}

.circle {
    width: 200px;
height: 200px;
background: #003751;
border-radius: 50%;
margin-left: 140px;
margin-top: 40px;

}

.circle p {
text-align: center;
font-family: Changa;
font-style: normal;
font-weight: bold;
font-size: 42px;
text-transform: capitalize;
padding-top: 60px;
color: #FFFFFF;
}

.divider {
    width: 100%;
    border: 1px solid #003751;
    margin-top: 70px;
}


.block button {
    width: auto;
background: #FFC160;
border-radius: 42px;
border: none;
margin-top: 30px;
padding: 15px 25px;
font-family: Changa;
font-style: normal;
font-weight: 600;
font-size: 24px;
text-transform: capitalize;/* identical to box height */

text-align: center;

color: #003751;
}

.rep {
    font-family: Changa;
font-style: normal;
font-weight: bold;
font-size: 58px;
color: #003751;

}
@media (min-width: 768px) and (max-width: 1024px) {
    .grid {
        display: flex;
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 80px;
        margin-bottom: 20px;
        justify-items: center;
        place-content: center;
    }
}

@media (min-width: 320px) and (max-width: 480px) {


    .grid {
        display: flex;
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 80px;
        margin-bottom: 20px;
        justify-content: center;
        place-content: center;
    }

    .item {
    width: 236px;
    height: auto;
    padding: 6px 5px 16px 20px;

    }

    .heading {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 2rem;
        /* identical to box height, or 92% */
        text-transform: capitalize;
        text-align: center;
        margin: 20px 0px;
        color: #FFFFFF;
        }

    .body {
        font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2rem;
    margin: 3px 10px;
    text-align: left;
    
    color: #FFFFFF;
    }


    .circle {
    width: 200px;
    height: 200px;
    background: #003751;
    border-radius: 50%;
    margin-left: 0px;
    margin-top: 10px;
    
    }

    .rep {
        font-family: Changa;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #003751;
    
    }

    .mint   {
        width: 100%;
        height: auto;
        background: #FFC160;
        padding-bottom: 20px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 120px;
        justify-content: center;
    }

    .blocktext {
        width: auto;
        height: auto;
        padding: 0;
    }
    
    .head {
        font-family: Changa;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 0px;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: #003751;
    
    }
    
    .bod {
        font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 2rem;
    text-transform: capitalize;
    color: #FFFFFF;
    }
    
    .block {
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
    width: 90%;
    height: auto;
    margin-top: 20px;
    background: #FFFFFF
    }
    
    .single {
        font-family: Changa;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 88px;
    text-transform: capitalize;
    
    color: #003751;
    
    }
    
    .one {
        font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    /* identical to box height, or 179% */
    
    
    color: #003751;
    
    }
    
 
    .circle p {
        text-align: center;
    font-family: Changa;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    text-transform: capitalize;
    padding-top: 10px;
    color: #FFFFFF;
    }
    
    .divider {
        width: 100%;
        border: 1px solid #003751;
        margin-top: 70px;
    }
    
    
    .block button {
        width: auto;
    background: #FFC160;
    border-radius: 42px;
    border: none;
    margin: 20px 0px;
    padding: 10px 20px;
    font-family: Changa;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;/* identical to box height */
    
    text-align: center;
    
    color: #003751;
    }
    
            
}